.panel.form {
    > .panel-body {
        padding: 0 15px;

        .form-group {
            // border-top: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
            margin-bottom: 0;
        }

        .form-group + .table {
            margin-top: 15px;
        }

        .form-group:last-child {
            border-bottom-width: 0;
        }

        .form-horizontal .form-group > div {
            padding: 15px;
        }
        
        @media (min-width: 768px) {
            .form-horizontal .form-group > div {
                border-left: 1px solid #efefef;
            }
        }

        .form-horizontal .form-group:nth-child(even) {
            background-color: #fcfcfc;
        }
    }
}

.panel-heading {
    > .nav-tabs {
        margin: -11px -16px;
        > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border-bottom-color: #ddd;
        }
    }

    &[data-toggle="collapse"] {
        cursor: pointer;
        clear: both;

        &:after {
            content: "\f067";
            float: right;
            display: block;
            font-family: FontAwesome;
            font-size: 11px;
            display: inline-block !important;
            cursor: pointer;
        }
        &.collapsed:after {
            content: "\f068";
        }
    }
}
